<!DOCTYPE html>
<html>
<head>
	<title>GeSoc</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src ="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src ="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<style type="text/css">
		body{
			background-color: #AFBBF2;
		}
		.container{
			margin: 2% auto;
		}
		.container p{
			text-align: center;
		}
		.container img{
			position: relative;
			float: center;
			text-align: center;
		}
		.a{
			margin: 10% auto;

		}
		td{
			text-align: center;
		}
		.info{
			border-right: 1px solid black;
		}
	</style>
	
</head>
<body>
	<nav class="navbar navbar-inverse navbar-dark bg-dark fixed-top">
 	 <div class="container-fluid">
    	<div class="navbar-header">
      		<a class="navbar-brand" href="#">GeSoc</a>
   		 </div>
    </div>
	</nav> 
	<div class="row a">
		<div class="col-4 info">
			<div class="container">
				<img class="img-fluid img-thumbnail" src="/img/logo-gesoc.png" alt="">

			</div>
		</div>

		
			

		<div class="col-7 login">
			<div class="container">
				<form action="/login" method="post" accept-charset="utf-8">
					<div class="form-group">
				      <label for="nombreUsuario">Id User:</label>
				      <input type="text" class="form-control" name="nombreUsuario" id="nombreUsuario">
				    </div>
				    <div class="form-group">
				      <label for="password">Contra</label>
				      <input type="password" class="form-control" name="pass" id="pass">
				    </div>
				    <div class="malResultado" id="malResultado">El usuario y/o la contraseña son incorrectas, vuelva a introducirlas</div>
				    <button type="submit" name="iniciar_sesion" id="iniciar_sesion" class="btn btn-primary">Ingresar</button>
				</form>
			</div>
		</div>
	</div>
	
</body>
<footer class="page-footer navbar-dark bg-dark">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
</html>